<head>
  <link rel="stylesheet" href="../../assets/components/banner.scss">
</head>
<body>
  <div class="banner">
    <div banner-content>
      <div class="letters">
        <span class="letter" data-letter="C">C</span>
        <span class="letter" data-letter="U">U</span>
        <span class="letter" data-letter="R">R</span>
        <span class="letter" data-letter="I">I</span>
        <span class="letter" data-letter="O">O</span>
        <span class="letter" data-letter="S">S</span>
        <span class="letter" data-letter="O">O</span>
      </div>
      <p>fbdjfnskdnsndaskasdn</p>
    </div>
  </div>
</body>
