<head>
  <link rel="stylesheet" href="../../assets/components/banner.scss">
</head>
<body>
  <div class="banner">
    <div banner-content>
      <div class="letters">
        <span class="letter" data-letter="C">C</span>
        <span class="letter" data-letter="U">U</span>
        <span class="letter" data-letter="R">R</span>
        <span class="letter" data-letter="I">I</span>
        <span class="letter" data-letter="O">O</span>
        <span class="letter" data-letter="S">S</span>
        <span class="letter" data-letter="O">O</span>
      </div>
      <div>
      <h4>ALIMENTANDO TU CURIOSIDAD</h4> 
      <h6>La mejor manera para que sus hijos aprendan a programar es jugando.</h6>
      </div>
      <div>
        <div class="card-play-home">
          <a class="card-btn-home">
            <i class="fa fa-play btn-play-home" data-toggle="modal" data-target="#myModal"></i>
          </a>
        </div>
      </div>
      <div class="icons">
        <div class="icon-one icon">
          <i class="fas fa-laptop"></i>
          <h5>PROGRAMMING AS A SUPERPOWER</h5>
        </div>
        <div class="icon-two icon">
          <i class="fas fa-brain"></i>
          <h5>MATH SKILLS</h5>
        </div>
        <div class="icon-three icon">
          <i class="fas fa-lightbulb"></i>
          <h5>PROBLEM SOLVING</h5>
        </div>
      </div>
      <%# <div class="play">
        <a href="" class="btn-4"><i class="fa fa-play "></i></a>
      </div> %>
    </div>
  </div>
</body>
