<div class="head-container">
  <%= image_tag "cabeza-pantalla.png", class: 'head' %>
  <div class="black-bg">
    <marquee class="head-text" >Hola <%= current_user.name %>! &nbsp &nbsp &nbsp &nbsp &nbsp Listo para curiosear?  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Hola <%= current_user.name %>! &nbsp &nbsp &nbsp &nbsp &nbsp Listo para curiosear? </marquee>
  </div>
</div>
