<div class="curi">
  <div class="curi-wheels"></div>
  <div class="curi-left-arm"></div>
  <div class="curi-right-arm"></div>
  <div class="curi-body"></div>
  <div class="curi-head">
    <div class="smile icon"><i></i></div>
  </div>
</div>
