<div class="curi">
  <div class="curi-wheels curi-side-wheel"></div>
  <div class="curi-left-arm"></div>
  <div class="curi-right-arm"></div>
  <div class="curi-body curi-right-body curi-left-body curi-behind-body"></div>
  <div class="curi-head curi-right-head curi-left-head curi-behind-head"></div>
</div>
