// Define variables for your color scheme

// For example:
$red: #ff1c1c;
$pink: #ed1c5b;
$blue: #08233E;
$light-blue: #4AABB9;
$soft-blue: #3d8eb9;
$dark-blue: #001a37;
$yellow: #fec606;
$orange: #f04903;
$green: #71ba51;
$gray: #aaaaaa;
$light-gray: #F4F4F4;
