<div class="card-container">
  <div class="card-row">
    <% @games.each do |game, item| %>
     <div class="col-xs-12 col-sm-4">
        <div class='card'>
          <div class="card-content">
            <h3 class="card-title"><%= game.title %></h3>
              <div class="card-play">
              <a href="" class="btn-4"><i class="fa fa-play play"></i></a>
             </div>
          </div>
          <%= link_to image_tag(game.photo,
            width: 300, height: 200, :class => "some_class"), game_path(game) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

