
<section class="premios">
  <h3>Tropheos</h3>
</section>
<section class="progress-bar">
  <h3>Progreso</h3>
</section>
<section class="games-index">
<h3>Juegos</h3>
  <div class="card-container">
    <div class="card-row">
      <% @games.each do |game| %>
      <div class="col-xs-12 col-sm-4">
        <div class='card' style= 'background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%=game.photo%>);background-repeat: no-repeat;' >
          <div class="card-description">
            <h3 class="card-title"><%= game.title %></h3>
            <div class="card-play">
             <%= link_to game_path(game), :class=>"card-btn" do%>
             <i class="fa fa-play btn-play"></i>
             <% end %>
            </div>
         </div>
       </div>
     </div>
   <% end %>
   </div>
  </div>
</section>


