<section>
<div class="level-container">
<div class="level-game-name">
  <h1>Primera Lecci贸n </h1>
</div>
<div class="row overview">
  <section class="col-sm-12 col-md-6 text-left">
    <h4><%= @game.title %>: 5 niveles</h4>
    <p>Esta lecci贸n guiar谩 a los estudiantes a trav茅s de los pasos de debugging (depuraci贸n). Los estudiantes aprender谩n el mantra: "驴Qu茅 pas贸? 驴Qu茅 se supon铆a que iba a pasar? 驴Qu茅 te dice eso?"</p>
    <h4>Proposito</h4>
    <p>La investigaci贸n muestra que algunos estudiantes tienen menos problemas para depurar un programa que escribir uno cuando aprenden a programar. En esta lecci贸n, presentamos la idea de depurar en un sentido del mundo real.</p>
  </section>
  <section class="col-sm-12 col-md-6 text-left">
    <h4>Objetivos</h4>
    <p>El objetivo de esta lecci贸n es ense帽ar a los alumnos los pasos para detectar un error y aumentar la persistencia al mostrarles que es normal encontrar y cometer errores.</p>
    <h5>Los estudiantes podr谩n:</h5>
    <ul>
      <li>Expresar que han notado cuando algo va diferente de lo que se espera.</li>
      <li>Identificar cu谩l fue el resultado esperado antes de que se produzca un error.</li>
      <li>Determinar y describir la diferencia entre lo que se esperaba y lo que realmente sucedi贸 en caso de error.</li>
    </ul>
  </section>
</div>
<div class="card-container-level">
   <div class="row">
     <% @game.levels.each_with_index do |level, index| %>
      <% index += 1 %>
      <div class="col-sm-6 col-md-4">
        <div class='card game-card' style = 'background-image: url(http://placehold.it/600x450/041A35/FFFFFF?text=<%= index %>); background-repeat: no-repeat;' >
          <div class="card-description">
            <div class="card-play">
              <a class="card-btn">
                <i class="fa fa-play btn-play" data-toggle="modal" data-target="#myModal"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instrucciones</h4>
      </div>
      <div class="modal-body">
        Lleva a Robotso al final de la meta. Usa las flechas para moverlo y dale play para empezar la diversi贸n!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <%= link_to 'Vamos a jugar', play_game_level_path(@game, level), :class=>"btn btn-primary" %> 
      </div>
    </div>
  </div>
</div>
    <% end %>
  </div>
 </div>
</div>
</section>
