<div class="dashboard-banner">
  <section>
    <div class="level-container container">
      <div class="level-game-name">
        <h1 class="game-info">Primera Lección </h1>
        <h2 class="game-info"><%= @game.title %></h2>
        <h4 class="game-info">Pensando en secuencia, orden y logicamente!! </h4>
      </div>
      <div class="card-container-level">
        <div class="levels-container">
          <div class="levels">
           <% @game.levels.each_with_index do |level, index| %>
           <% index += 1 %>
           <%= link_to(play_game_level_path(@game, level)) do %>
           <div class="level-icon">
            <p><%= index %></p>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="hr"><hr /></div>
      </div>
    </div>
  </div>
  </div>
  </section>
</div>


<%# <div class="row overview">
  <section class="col-sm-12 col-md-6 text-left">
    <h4><%= @game.title: 5 niveles</h4>
    <%# <p>Esta lección guiará a los estudiantes a través de los pasos de debugging (depuración). Los estudiantes aprenderán el mantra: "¿Qué pasó? ¿Qué se suponía que iba a pasar? ¿Qué te dice eso?"</p>
    <h4>Proposito</h4>
    <p>La investigación muestra que algunos estudiantes tienen menos problemas para depurar un programa que escribir uno cuando aprenden a programar. En esta lección, presentamos la idea de depurar en un sentido del mundo real.</p>
  </section>
  <section class="col-sm-12 col-md-6 text-left">
    <h4>Objetivos</h4>
    <p>El objetivo de esta lección es enseñar a los alumnos los pasos para detectar un error y aumentar la persistencia al mostrarles que es normal encontrar y cometer errores.</p>
    <h5>Los estudiantes podrán:</h5>
    <ul>
      <li>Expresar que han notado cuando algo va diferente de lo que se espera.</li>
      <li>Identificar cuál fue el resultado esperado antes de que se produzca un error.</li>
      <li>Determinar y describir la diferencia entre lo que se esperaba y lo que realmente sucedió en caso de error.</li>
    </ul>
  </section> %>

<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Instrucciones</h4>
        </div>
        <div class="modal-body">
          Lleva a Robotso al final de la meta. Usa las flechas para moverlo y dale play para empezar la diversión!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <!%= link_to 'Vamos a jugar', play_game_level_path(@game, level), :class=>"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div> -->
