<h1 class="text-center"></h1>
<hr>

<section class="game-box">

  <table class="robot-board">
    <% @board.each do |row| %>
    <tr>
      <% row.each do |square| %>
      <td class='<%= square %>'>
        <% if square == 'robot' %>
        <div class="robot-piece">
          <%= render 'components/curioso' %>
        </div>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</section>
<hr>

<!-- <div class="right">
  <button id="right" data-input="right-input" class="race-btns">right</button>
  <input type="number" id="right-input" class="control-input" value="1">
</div> -->
<!--
<div class="left">
  <button id="left" data-input="left-input" class="race-btns">left</button>
  <input type="number" id="left-input" value="1">
</div>
<div class="up">
  <button id="up" data-input="up-input" class="race-btns">up</button>
  <input type="number" id="up-input" value="1">
</div>
<div class="down">
  <button id="down" data-input="down-input" class="race-btns">down</button>
  <input type="number" id="down-input" value="1">
</div> -->

<section class="controls">
  <h3 class="text-center" style="color: white" >Controles</h3>
  <div class="buttons">
    <div class="left">
      <button class="loading-frame race-btns" id="left" data-input="left-input">
        <ul  class="arrows">
          <% (1..8).each do |i|  %>
          <li  class="circle" ></li>
          <% end %>
        </ul>
      </button>
      <input type="number" id="left-input" class="control-input" value="1">
    </div>

    <div class="right">
      <button class="loading-frame race-btns" id="right" data-input="right-input">
        <ul class="arrows" >
          <% (1..8).each do |i|  %>
          <li  class="circle" ></li>
          <% end %>
        </ul>
      </button>
      <input type="number" id="right-input" class="control-input" value="1">
    </div>

    <div class="down">
      <button class="loading-frame race-btns" id="down" data-input="down-input">
        <ul  class="arrows">
          <% (1..8).each do |i|  %>
          <li  class="circle" ></li>
          <% end %>
        </ul>
      </button>
      <input type="number" id="down-input" class="control-input" value="1">
    </div>

    <div class="up">
      <button class="loading-frame race-btns" id="up" data-input="up-input">
        <ul class="arrows" >
          <% (1..8).each do |i|  %>
          <li  class="circle" ></li>
          <% end %>
        </ul>
      </button>
      <input type="number" id="up-input" class="control-input" value="1">
    </div>

    <div>
      <button class="turn-left"> <i class="fa fa-undo "></i></button>
    </div>

    <div>
      <button class="turn-right"> <i class="fa fa-undo btn-submit"></i></button>
    </div>

    <div>
      <button class="play-moves"> <i class="fa fa-play btn-submit"></i></button>
    </div>


  </div>
</section>
<%= javascript_pack_tag 'game' %>
