<h1 class="text-center"></h1>
<hr>

<div class=" game-box">

  <table class="robot-board">
    <% @board.each do |row| %>
      <tr>
        <% row.each do |square| %>
          <td class='<%= square %>'>
            <% if square == :robot %>
              <div class="robot-piece">
                <%= render 'components/curioso' %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<hr>



<div class=" controls">
  <div class="loading-frame race-btns" id="left">
    <% (1..10).each do |i|  %>
      <button class="circle " ></button>
    <% end %>
  </div>

  <div class="loading-frame race-btns" id="right">
    <% (1..10).each do |i|  %>
      <button class="circle race" ></button>
    <% end %>
  </div>

  <div class="loading-frame race-btns" id="down">
    <% (1..10).each do |i|  %>
      <button class="circle race" ></button>
    <% end %>
  </div>

  <div class="loading-frame race-btns" id="up">
    <% (1..10).each do |i|  %>
      <button class="circle race" ></button>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'game' %>
