.alert {
  z-index: 9999;
  position: fixed;
  text-align: center;
  font-size: 10px;
  width: 100%;
  // color: white;
}
// .alert-info {
//   background: $light-blue;
// }
.alert-warning {
  background: $red;
  color:white;
}