footer {
  padding: 45px 0px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: #041A35;
  align-items: center;
  height: 100px;
  color: white;
  position:relative;
}


.footer .fa-heart {
  color: white;
}


html, body {
  height:100%;
}

.content {
  min-height:100%;
  overflow: auto;
}
