/* Your board style here */
.controls {
position:relative;
}

.game-box {
  flex-shrink: 0;
  border:3px solid black;
  position: relative;
  margin: 50px;
  transform: perspective(1000px) rotate(0deg) skew(0) translate(0, 0);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);

  td {
    position: relative;
    background-image:asset-url("moon-surface.png");
    background-size:100%;
  }

  td.hole {
    background-image: asset-url("crater.png") ,asset-url("moon-surface.png");
    background-size:100%;
    background-repeat:no-repeat;
  }

  td.wall {
    background-image: asset-url("garbage.png"),asset-url("moon-surface.png");
    background-size:100%;
    background-repeat:no-repeat;
  }

  td.finish {
    background-image: asset-url("flag.png"),asset-url("moon-surface.png");
    background-size:cover;
    background-repeat:no-repeat;
  }
}



.robot {
  background-color: red;
}

.robot-board td {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border: 1px solid lightgrey;
}
.robot-board td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.game-greeting {
  margin-top: 0;
  padding-top: 16px;
  color:white;

}
