/* Your board style here */

.game-box {
  position: relative;
  margin: 50px;

  td {
    position: relative;
  }

  td.hole {
    background-image: asset-url("hole.png");
    background-size:100%;
    background-repeat:no-repeat;
  }

  td.wall {
    background-image: asset-url("wall.png");
    background-size:100%;
    background-repeat:no-repeat;
  }
}

.robot {
  background-color: red;
}

.robot-board td {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border: 1px solid lightgrey;
}
.robot-board td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

