/* Your board style here */

.game-box {
  position: relative;
  margin: 50px;

  td {
    position: relative;
    background-image:asset-url("grass.png");
  }

  td.quicksand {
    background-image: asset-url("quicksand2.png") ,asset-url("grass.png");
    background-size:100%;
    background-repeat:no-repeat;
  }

  td.tree {
    background-image: asset-url("tree.png"),asset-url("grass.png");
    background-size:100%;
    background-repeat:no-repeat;
  }
}

.robot {
  background-color: red;
}

.robot-board td {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border: 1px solid lightgrey;
}
.robot-board td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

