.level-container{
  color: white;
  h1{
    padding: 0.5em;
  }
  h2, h3, h4{
    color: white;
    font-family: $body-font;
    text-transform: uppercase;
  }
  h5{
    color: dimgray;
  }
  p{
    color: dimgray;
    font-size: 14px;
  }

  ul{
    color: dimgray;
    font-size: 14px;
  }
}

.overview{
  margin-bottom: 2em;
}

.modal-body{
  font-size: 16px;
}

.btn{
  font-size: 17px;
}

.level-game-name {
  background-color: rgba(34, 30, 65, 0.85);
  padding-bottom: 24px;
}
