.user-greeting {
  background-image: asset-url('head.png') ;
  background-repeat: no-repeat;
  background-size:100%;
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}
