// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  font-family: 'Coming Soon', cursive;
  text-align: center;
  left: 0;
  line-height: 100px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #67A2FF;
  border-color:#67A2FF;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited, .btn-warning:focus, .btn-warning:active:focus {
  background-color: #FFCD67;
  border-color:#FFCD67;
  color: white;
}